fastapi
uvicorn
pandas
numpy
requests
python-dotenv
influxdb-client
supabase
PyJWT
tensorflow==2.13.0
mlflow
optuna
scikit-learn
scipy
seaborn
matplotlib
joblib
altair
pytest
pytest-asyncio
httpx
playwright
websockets